html,body {
  height: 100%;
}

.page-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
  padding: 0 0 120px;
  background-color: #2F4F4F;
}
#footer {
  height: 120px;
  background-color: #222222;
  border:0 solid #080808;
  border-top-width: 1px;
  margin-top:50px;
}

#footer > .container {
  padding: 20px;
}

#footer a{
  color:#cccccc;
}

#footer a:hover {
  color:#ffffff;
  margin-left:-2px;
  text-decoration:none;
}

body {
  padding-top: 51px; 
  background: #1E1E1E;
  color: #f9f9f9;
}
a {
  color:#efefef;
}
.text-center {
  padding-top: 20px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;

}

#sidebar .affix {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .affix-bottom {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .nav {
  width: 95%;
}

#sidebar li a {
  padding-left:1px;
}

p{
  color: #fff;

}
h3,ul,li{
  color: #fff;
}
 #sidebar .nav>li>a {
    color: #ddd;
  }

   #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;  
  }

