body {
	background-color: #b7d1c4
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}

img {
	height: 400px;
	width: 400px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}

#navbar {
	/*Add your CSS here!*/
	
	left:50%;
	margin-left:-200px;
    margin-top:20px;
    position:fixed;
}

#header {
	position: relative;
	top: 57px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}



.lst1 {
	/*Add your CSS here!*/
	
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: black;
	border-radius: 5px 5px;
	background-color: #cc0323;
    display:inline;
    padding:5px;
}

#left{
	
    float:left;
    width:45%;
    margin-top: 15px;
    margin:0 0 115 0 ;
	
}

#right{
  
    float:right;
    width:40%;
	margin-top: 85px;
}





#footer{
	
	
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
    clear:both;
}
#media{
	

	left:50%;
	margin-left:-145px;
    margin-top:45px;
    position:fixed;
}





a:link{
	text-decoration: none;
}
a:hover{
	color:#606060; 
}