<!DOCTYPE html>
<html>
<head>
</head>

<body text="#330033" id="body">
	<h1 id="header1"> Nickname: {{ comments }}</h1> 
	<h2 class ="header2">Description: {{ post }}</h2> 

    <div class= "modal fade modal-lg" id = "showcommentModal">
	 <div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <button class="close" data-dismiss="modal">&times;</button>
			<h3>here is the num: {{ num }}</h3>
			  </div>
				<div class="modal-body">
					<div>
					<p>Name</p>
					<p> Some solid leading copy will help get your users engaged. Use this area to come up with something real nice. Know what I'm sayin?</p>

					<!-- <a href="" class="btn btn-large btn-primary" id="alertMe"> Click a Nice big button</a> -->
					<a href="" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-thumbs-up"><small> count</small></span></a>
					<a href="" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-thumbs-down"><small> count</small></span></a>
					<a href="" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-flag"></span></a>
						
					</div>
					<hr>
				</div>
                  </div>
                  </div>
                  </div>







</body>

</html>
